<div id="degraded_container" style="display:none;">  
	<% form_for :upload, :url => uploads_path(make_parent_params(parent)), :html => { :multipart => true } do |f| -%>
	  <p><%= f.file_field :uploaded_data, :size => 25 %></p>
	  <%= submit_tag t('uploader.upload_file') %>
	<% end %>
</div>
<div id="swfupload_container">
	<form>
		<div id="swf_upload_UI">
			<p><span id="swf_button_holder"></span></p>
			<div id="swf_fs_upload_progress">
				<span class="legend"></span>
				<input id="swf_cancel_button" type="button" value="<%=t('uploader.cancel_all')%>" style="display:none;" />
				<p id="divStatus"></p>
			</div>			
		</div>
		<noscript class="swf-error-msg">
		  <%= t('uploader.javascript_not_enabled') %>
		</noscript>
		<div id="swf_loading_content" class="swf-error-msg" style="display:none;">
		  <%= t('uploader.swf_loading') %>
		</div>
		<div id="swf_long_loading" class="swf-error-msg" style="display:none;">
		  <%= t('uploader.swf_taking_to_long') %>
		</div>
		<div id="swf_alternate_content" class="swf-error-msg" style="display: none;">
		  <%= t('uploader.swf_not_loading', :url => '<a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Adobe Website</a>') %>
		</div>
	</form>
</div>

<%= render :partial => 'uploads/swf_javascript', :locals => { :parent => parent, :display_upload_indicators => display_upload_indicators } %>