<% if !defined?(@uploadify_scripts_included) -%>
  <% @uploadify_scripts_included = true -%>
  <% content_for :head do  -%>
     <%= javascript_include_tag %w{ jquery/jquery.uploadify.min.js swf/swfobject.js }, :cache => 'uploadify_cached' %>
    <%= stylesheet_link_tag 'uploadify' %>
  <% end -%>
<% end -%>

<% form_for :upload, :url => uploads_path(make_parent_params(parent)), :html => { :multipart => true, :id => container_prefix } do |f| -%>
  <p><%= f.file_field :local, :size => 25 %></p>
  <%= submit_tag t('uploader.upload_file') %>
<% end %>

<script type='text/javascript'>
jQuery('form#<%=container_prefix%>').uploadify(<%=uploadify_options%>);
</script>
