<% if !defined?(@uploadify_scripts_included) -%>
  <% @uploadify_scripts_included = true -%>
  <% content_for :head do  -%>
     <%= javascript_include_tag %w{ jquery/jquery.uploadify.min.js swf/swfobject.js }, :cache => 'uploadify_cached' %>
    <%= stylesheet_link_tag 'uploadify' %>
  <% end -%>
<% end -%>

<div id="<%=options[:container_prefix]%>_upload">
  <% form_for :upload, :url => uploads_path(make_parent_params(parent)), :html => { :multipart => true, :id => "#{options[:container_prefix]}_form" } do |f| -%>
    <p><%= f.file_field :local, :size => 25 %></p>
    <%= submit_tag t('uploader.upload_file') %>
  <% end %>
</div>

<script type='text/javascript'>
  <% if options[:omit_initializer] -%>
    var <%=options[:container_prefix]%>_options = <%=uploadify_options%>;
  <% else -%>
    jQuery(document).ready(function() {
      jQuery('#<%=options[:container_prefix]%>_upload').uploadify(<%=uploadify_options%>);
    });
  <% end -%>
</script>

